<h1 *ngIf="isEditMode">Edit Product</h1>
<h1 *ngIf="!isEditMode">Add Product</h1>
<p-messages></p-messages>
<form [formGroup]="form">
  <div class="form-group col-md-6">
    <label for="name">Product Name</label>
    <input type="text" class="form-control" formControlName="name" id="name">
    <app-form-error [formGroup]="form" labelName="Product Name" controlName="name"></app-form-error>
  </div>
  <div class="form-group col-md-6">
    <label for="price">Price</label>
    <input type="number" class="form-control" formControlName="price" id="price">
    <app-form-error [formGroup]="form" labelName="Price" controlName="price"></app-form-error>
  </div>
  <div class="form-group col-md-6">
    <label for="type">Product Type</label>
    <select class="form-control" formControlName="type" id="type">
      <option *ngFor="let productType of ProductType | keyvalue" [value]="productType.key">{{productType.value}}
      </option>
    </select>
    <app-form-error [formGroup]="form" labelName="Product Type" controlName="type"></app-form-error>
  </div>
  <div class="form-group pl-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="active" formControlName="active">
      <label class="form-check-label" for="active">
        Active
      </label>
      <app-form-error [formGroup]="form" labelName="Active" controlName="active"></app-form-error>
    </div>
  </div>
  <div class="pl-3">
    <button *ngIf="isEditMode" type="submit" class="btn btn-primary" (click)="createOrUpdate()">Update</button>
    <button *ngIf="!isEditMode" type="submit" class="btn btn-primary" (click)="createOrUpdate()">Create</button>
  </div>
</form>